<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wish List</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
    <h1>Wish List Items</h1>
    {% if item|length == 0 %}
    <h3>No Wish Items Exist</h3>
    {% endif %}
    <table class="striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for item in items %}
        <tbody>
            <tr>
                <td>{{item.description}}</td>
                <td><a href="{% url 'items_delete' item.id %}">X</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <a href="{% url 'items_create' %}" class='pure-button'>Add Wish Item</a>
</body>
</html>